.form-check-input {
    position: relative;
    margin-left: 0;
    margin-top: 0.3rem;
    margin-right: 0.5rem;
}

.clearable-date-input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
